<div class="hl-statistic">

    <div class="hl-statistic-left">
        <div class="hl-statistic-div">
            <div class="hl-statistic-title">Loan EMI</div>
            <h2 class="hl-statistic-value">{{calculateMonathlyEmi()}}</h2>
        </div>

        <div class="hl-statistic-div">
            <div class="hl-statistic-title">Total Interest Payable</div>
            <h2 class="hl-statistic-value">{{calculateTotalInterestPayable()}}</h2>
        </div>

        <div class="hl-statistic-div">
            <div class="hl-statistic-title">Total Payment (Principle + Interest)</div>
            <h2 class="hl-statistic-value">{{calculateTotalPayment()}}</h2>
        </div>
    </div>

    <div class="hl-statistic-right">This Section Shows Some Visulation</div>
</div>